<div class="body">
    <div class="navbar">
        <div class="navItem" routerLink="/">Login</div>
        <div class="navItem" routerLink="/dashboard">Dashboard</div>
        <div class="navItem" routerLink="/camera">Camera</div>
        <div class="navItem" routerLink="/videos">Videos</div>
        <div class="navItem" *ngIf="dashboard">
            <form [formGroup]="search">
                <input placeholder="Search user" type="text" formControlName="name" (input)="input($event)">
            </form>
        </div>
    </div>
</div>