<div class="body">
    <div class="navbar">
        <div class="navItem" routerLink="/" [ngStyle]="{borderBottom : selected == 'login' ? '2px solid green' : ''}">Login</div>
        <div class="navItem" routerLink="/dashboard" [ngStyle]="{borderBottom : selected == 'dashboard' ? '2px solid green' : ''}">Dashboard</div>
        <div class="navItem" routerLink="/camera" [ngStyle]="{borderBottom : selected == 'camera' ? '2px solid green' : ''}">Camera</div>
        <div class="navItem" routerLink="/videos" [ngStyle]="{borderBottom : selected == 'videos' ? '2px solid green' : ''}">Videos</div>
        <div class="navItem" *ngIf="dashboard">
            <form [formGroup]="search">
                <input placeholder="Search user" type="text" formControlName="name" (input)="input($event)">
            </form>
        </div>
    </div>
</div>


<div class="device" [ngStyle]="{'height':navOpen ? '600px' : '60px'}">
	<div class="container">
		<div class="left">
            <img src="/assets/logo.png" height="55" width="50" style="cursor: pointer;" (click)="reload()">
        </div>
		<button id="burger" class="open-main-nav" (click)="toggleNav()" [ngStyle]="{'padding-top': navOpen ? '0px' : ''}">
			<span class="burger" *ngIf="!navOpen"></span>
            <div class="crossIcon" *ngIf="navOpen" style="padding-top: 0px;"><img src="/assets/cross.png" height="30" width="30" ></div>
			<!-- <span class="burger-text">Menu</span> -->
		</button>
		<nav class="main-nav" id="main-nav">
			<ul>
				<li (click)="toggleNav()">
					<p routerLink="/">Login</p>
				</li>
				<li (click)="toggleNav()">
					<p routerLink="dashboard">Dashboard</p>
				</li>
				<li (click)="toggleNav()">
					<p routerLink="camera">Camera</p>
				</li>
				<li (click)="toggleNav()">
					<p routerLink="/videos">Videos</p>
				</li>
				<li (click)="toggleNav()">
					<a href="/assets/pankaj.pdf" download="/assets/pankaj.pdf">Resume</a>
				</li>
			</ul>
		</nav>
	</div>
</div>