<div class="body">
    <div class="container">
        <h1 class="heading">Face detection By Pankaj Phour</h1>
        <video autoplay id="video" height="300" width="400"></video>
        <canvas id="canvas" height="300" width="400" style="display: none;"></canvas>
        <div class="bottom">
            <button (click)="record()" class="recordingButton" *ngIf="!stopButton">Start Recording</button>
            <button (click)="stop()" class="recordingButton" *ngIf="stopButton">Stop Recording</button>
            <h1 class="heading">Total Person : {{person}}</h1>
        </div>

        <video [src]="recording" width="300px" height="300px" controls *ngIf="recording" id="video"></video>
        <!-- <canvas id="canvas"></canvas> -->
       <a [href]="recording" download="recording" *ngIf="recording">Download</a>
    </div>
    <!-- <input type="file" (change)="handleInput($event)"> -->
</div>